.container {
	max-width: 80rem;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}
.containerPost {
	max-width: 36rem;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #f4f4f4;
	background: linear-gradient(180deg, #cde2ee 150px, #f4f4f4 0);
}
.headerHome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #f4f4f4;
	background: linear-gradient(180deg, #cde2ee 50vh, #f4f4f4 0);
}

.headerImage {
	width: 6rem;
	height: 6rem;
}

.headerHomeImage {
	width: 8rem;
	height: 8rem;
}

.backToHome {
	margin: 3rem 0 0;
}
