.container {
	max-width: 80rem;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}
.containerPost {
	max-width: 100rem;
	padding: 0 1rem;
	margin: 1rem auto 6rem;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
.headerHome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.headerImage {
	width: 6rem;
	height: 6rem;
}

.headerHomeImage {
	width: 8rem;
	height: 8rem;
}

.backToHome {
	margin: 3rem 0 0;
}

.lead {
	max-width: 40rem;
}
