.heading2Xl {
	font-family: Avenir, serif;
	font-weight: 200;
	font-size: 10vw;
	line-height: 1.2;
	margin: 0;
}

.headingXl {
	font-size: 2rem;
	line-height: 1.3;
	font-weight: 400;
	margin: 1rem 0;
}

.headingLg {
	text-align: center;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.4;
	margin: 1rem 0;
}

.headingMd {
	font-size: 1.2rem;
	line-height: 1.5;
}

.borderCircle {
	border-radius: 9999px;
}

.colorInherit {
	color: inherit;
}

.padding1px {
	padding-top: 1px;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.listItem {
	margin: 0 0 1.25rem;
}

.listItem a {
	color: #000;
}

.lightText {
	color: #000;
}

.lead {
	text-align: center;
}
